* {
  box-sizing: border-box;
}

#message-bar {
  height: 3rem;
  padding: 1.5rem 0;
}

#message-bar h3 {
  font-size: 1.5rem;
  margin: 0;
}

.card {
  position: relative;
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
  -webkit-transform: rotateY(0);
  -webkit-transform-style: preserve-3d;
  transition: all 1s ease;
}

.card > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: contain;
  backface-visibility: hidden;
  z-index: 2;
}

.front {
  z-index: 1;
}

.back {
  background-image: url(../img/card-back.png);
  -webkit-transform: rotateY(-180deg);
}

.covered {
  -webkit-transform: rotateY(-180deg);
}

.hand {
  overflow: auto;
}
